@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/sweet-alerts.component.scss';

::ng-deep .ngx-datatable .datatable-body-cell .datatable-body-cell-label{
  white-space: normal !important;
  line-height: 1.2;
}

.po-wrap-cell{
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}
.text-ellipsis-cell {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: help;
}
::ng-deep .ngx-datatable .datatable-body-cell-label {
  width: 100%;
}

.text-ellipsis-cell {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: help;
}